In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import os
from IPython.display import display
import scipy as sp

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

pd.options.display.max_columns = None   # To see the entire columns of dataframes
pd.options.display.max_rows = 100

In [2]:
train_combat = pd.read_csv("C:/Users/user/Desktop/bc_data/train_combat.csv")
train_payment = pd.read_csv("C:/Users/user/Desktop/bc_data/train_payment.csv")
train_pledge = pd.read_csv("C:/Users/user/Desktop/bc_data/train_pledge.csv")
train_trade = pd.read_csv("C:/Users/user/Desktop/bc_data/train_trade.csv")
train_activity = pd.read_csv("C:/Users/user/Desktop/bc_data/train_activity.csv")
train_label = pd.read_csv("C:/Users/user/Desktop/bc_data/train_label.csv")

In [14]:
# Copy files in case of retrieving the original ones
combat = train_combat.copy()
pledge = train_pledge.copy()
payment = train_payment.copy()
trade = train_trade.copy()
activity = train_activity.copy()

In [29]:
combat['acc_id'].isnull().sum()

0

In [36]:
combat['acc_id'].count()

1574671

In [37]:
combat.head()

,day,acc_id,char_id,server,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
0,1,13809,54861,ap,2,13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,1,13809,256332,ap,2,13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,1,13809,307293,ap,3,14,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,1,13809,374964,ap,7,16,0.0,0.0,0.0,0.0,0.0,0.112612,0.098129
4,1,13809,117917,ap,2,11,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [35]:
combat[combat["acc_id"].isin(label)].head()

,day,acc_id,char_id,server,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
0,1,13809,54861,ap,2,13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,1,13809,256332,ap,2,13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,1,13809,307293,ap,3,14,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,1,13809,374964,ap,7,16,0.0,0.0,0.0,0.0,0.0,0.112612,0.098129
4,1,13809,117917,ap,2,11,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [21]:
pledge['acc_id'].isnull().sum()

0

In [22]:
payment['acc_id'].isnull().sum()

0

In [24]:
trade['source_acc_id'].isnull().sum()

0

In [25]:
trade['target_acc_id'].isnull().sum()

0

In [26]:
activity['acc_id'].isnull().sum()

0

In [4]:
# Total amount spent per account the whole period
train_label["total_spent"] = train_label["survival_time"] * train_label["amount_spent"]
label = train_label["acc_id"]

In [5]:
combat[combat["acc_id"].isin(label)] # label

,day,acc_id,char_id,server,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
0,1,13809,54861,ap,2,13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,13809,256332,ap,2,13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1,13809,307293,ap,3,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1,13809,374964,ap,7,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.112612,0.098129
4,1,13809,117917,ap,2,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,1,62835,129987,am,2,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,1,62835,74659,am,4,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,1,62835,179366,am,1,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,1,62835,157318,am,2,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,1,62835,394244,am,5,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,1,54241,316971,ag,2,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,1,88683,299973,ar,0,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,1,80158,211359,ap,2,17,0.577658,0.000000,1.183064,0.479728,0.000000,0.675669,1.079416
13,1,30386,309343,as,7,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,1,30386,29625,as,3,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,1,16629,311417,ae,0,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.225223,0.098129
16,1,16629,26567,ae,2,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,1,16629,53462,ae,3,16,0.000000,3.701425,0.000000,0.000000,0.000000,0.000000,1.079416
18,1,16629,149458,ae,1,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,1,10931,236388,an,1,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,1,115006,171038,az,5,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,1,115006,217404,ay,5,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,1,115006,21515,bd,1,12,0.000000,0.000000,0.000000,0.000000,0.000000,1.013504,0.785030
23,1,149,280049,al,7,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,1,149,248148,al,3,13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,1,37405,109101,ab,2,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,1,64435,181773,al,6,14,0.000000,0.000000,0.000000,0.000000,0.000000,1.351338,0.883159
27,1,128300,187302,av,1,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,1,74305,343563,an,1,17,2.310633,0.000000,0.000000,0.000000,0.000000,14.526887,1.864446
29,1,74305,130375,an,2,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,1,74305,343563,bn,1,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.675669,0.490644
31,1,36350,10163,ax,2,13,0.000000,0.000000,1.183064,0.000000,0.000000,0.000000,0.098129
32,1,77519,176073,ae,1,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,1,77519,212993,ae,5,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.112612,0.098129
34,1,77519,323065,ae,7,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,1,77519,363511,ae,5,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.112612,0.098129
36,1,66631,397337,ai,1,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,1,104613,183473,am,1,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,1,127811,14049,bd,4,11,0.000000,0.000000,0.000000,0.000000,0.000000,1.013504,0.883159
39,1,127811,353116,az,1,9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40,1,127811,142589,ay,2,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
41,1,127811,370509,ay,4,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
42,1,127811,196677,bb,1,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
43,1,127811,49693,az,3,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,1,27245,165282,az,1,17,0.000000,0.000000,0.000000,0.479728,0.000000,0.112612,0.196258
45,1,80943,324569,ay,2,13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
46,1,80943,360570,ay,4,17,0.064184,0.000000,0.000000,0.479728,0.000000,0.000000,0.196258
47,1,21760,176604,aq,5,17,3.273396,3.416700,0.000000,0.000000,0.000000,0.000000,3.238249
48,1,21760,252457,aq,5,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
49,1,91750,144587,ad,2,17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574621,10,34847,110643,bb,3,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574622,10,34847,200991,bc,4,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574623,10,34847,16802,az,4,13,0.000000,0.000000,1.183064,0.000000,0.000000,0.563058,0.490644
1574624,10,70480,162229,az,3,13,0.000000,0.000000,3.549193,0.000000,0.000000,0.675669,0.588773
1574625,10,70480,209128,bc,3,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574626,10,70480,275709,bb,4,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574627,10,128036,321945,af,2,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.112612,0.098129
1574628,10,57613,157133,bb,3,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574629,10,87077,381584,ao,1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574630,10,52954,110730,ae,2,16,0.000000,0.000000,0.000000,0.479728,0.000000,0.000000,0.098129
1574631,10,26932,122647,at,5,16,0.000000,0.000000,0.000000,0.000000,0.000000,1.126115,0.785030
1574632,10,22039,184456,am,2,16,0.000000,0.000000,0.000000,0.479728,0.000000,0.000000,0.098129
1574633,10,128355,347849,al,2,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574634,10,155,89374,ad,3,16,0.000000,0.000000,2.366129,0.000000,0.000000,0.337835,0.392515
1574635,10,61285,11380,an,1,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574636,10,96812,73115,ab,0,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574637,10,44820,251810,at,5,16,0.000000,0.000000,0.000000,0.000000,0.000000,1.013504,0.588773
1574638,10,62269,98756,ao,3,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574639,10,49903,352098,ad,0,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574640,10,97331,303315,ar,4,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574641,10,64877,283410,bd,7,14,0.000000,0.000000,0.000000,0.000000,0.000000,1.126115,0.490644
1574642,10,4749,14676,ab,3,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574643,10,1998,361147,ax,3,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574644,10,100485,287275,bd,4,12,0.000000,0.000000,0.000000,0.000000,0.000000,0.788281,0.686901
1574645,10,92179,27485,ab,3,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574646,10,92179,151719,ab,3,16,0.000000,0.000000,0.000000,0.000000,0.000000,1.013504,0.686901
1574647,10,46126,252824,ac,0,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574648,10,90014,1296,ab,3,15,0.000000,0.000000,0.000000,0.000000,0.000000,1.914396,0.686901
1574649,10,51495,214396,bd,5,12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574650,10,109154,42053,ak,3,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.337835,0.294386
1574651,10,7837,154333,au,4,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574652,10,80187,178223,bb,5,13,0.000000,0.000000,0.000000,0.000000,6.199136,0.000000,0.098129
1574653,10,80187,389026,az,4,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574654,10,6611,123392,aa,4,16,0.000000,0.000000,0.000000,0.479728,0.000000,0.000000,0.098129
1574655,10,22399,282670,bd,4,12,0.000000,0.000000,0.000000,0.000000,0.000000,0.225223,0.196258
1574656,10,66983,345916,ay,3,14,0.000000,0.000000,1.183064,0.000000,0.000000,0.000000,0.098129
1574657,10,66983,11728,bc,4,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574658,10,66983,372053,bb,4,15,0.000000,0.000000,1.183064,0.000000,0.000000,0.000000,0.098129
1574659,10,76321,327759,ay,3,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.112612,0.098129
1574660,10,76321,352802,bc,4,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574661,10,20624,364869,an,2,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574662,10,106213,204048,az,3,16,0.000000,0.000000,1.183064,0.000000,0.000000,0.000000,0.098129
1574663,10,70406,135843,az,4,16,0.000000,0.000000,0.000000,5.277005,0.000000,0.112612,0.196258
1574664,10,99635,254772,av,1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574665,10,17661,128814,bd,2,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.337835,0.294386
1574666,10,21604,179760,az,3,15,0.000000,0.000000,0.000000,4.797278,0.000000,0.000000,0.098129
1574667,10,73622,36541,az,3,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574668,10,104426,23384,ai,7,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574669,10,85674,111923,an,4,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1574670,10,11343,52069,ao,5,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [38]:
# No need to keep the rows whose "acc_id" does not appear in Label data
combat = combat[combat["acc_id"].isin(label)]
pledge = pledge[pledge["acc_id"].isin(label)]
payment = payment[payment["acc_id"].isin(label)]
trade = trade[trade["source_acc_id"].isin(label)]
trade = trade[trade["target_acc_id"].isin(label)]
activity = activity[activity["acc_id"].isin(label)]
#     ?

## Common Features

In [50]:
# The number of characters per account
all_char = pd.concat([train_combat[["char_id", "acc_id"]], train_pledge[["char_id", "acc_id"]], train_activity[["char_id", "acc_id"]]])
char_count = all_char.groupby("char_id")["acc_id"].count()
char_count.head()

char_id
2     2
3    24
5    20
7    14
9     2
Name: acc_id, dtype: int64

In [56]:
all_char.sort_values(by='acc_id')['acc_id'].nunique()

40000

In [57]:
all_char.sort_values(by='acc_id')['char_id'].nunique()

150960

In [ ]:
char_count = pd.DataFrame({"char_count" : char_count})  # in case of merging

In [44]:
all_char.head()
#  char_id  acc_id  !

   char_id  acc_id
0    54861   13809
1   256332   13809
2   307293   13809
3   374964   13809
4   117917   13809

In [43]:
char_count.head()
#  ?
#  acc_id    ?

         char_count
char_id
2                 2
3                24
5                20
7                14
9                 2

In [60]:
# Find all the unique servers
total_server = pd.concat([train_combat["server"], train_pledge["server"], train_trade["server"], train_activity["server"]])
total_server.head()

0    ap
1    ap
2    ap
3    ap
4    ap
Name: server, dtype: object

In [62]:
server_list = total_server.unique()
server_list

array(['ap', 'am', 'ag', 'ar', 'as', 'ae', 'an', 'az', 'ay', 'bd', 'al',
       'ab', 'av', 'bn', 'ax', 'ai', 'bb', 'aq', 'ad', 'ac', 'bk', 'ak',
       'bl', 'aw', 'aj', 'bm', 'bc', 'at', 'aa', 'bo', 'ao', 'ah', 'au',
       'af', 'bj', 'br', 'bp', 'bg', 'bs', 'bi'], dtype=object)

In [ ]:
# Encode servers into integer values
le = LabelEncoder()
le.fit(server_list)
for df in [combat, pledge, trade, activity]:
    df["server"] = le.transform(df["server"])
# server column categorial !

In [64]:
df.head()

,day,acc_id,char_id,server,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
0,1,13809,54861,15,2,13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,1,13809,256332,15,2,13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,1,13809,307293,15,3,14,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,1,13809,374964,15,7,16,0.0,0.0,0.0,0.0,0.0,0.112612,0.098129
4,1,13809,117917,15,2,11,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

## Trade

In [8]:
trade.rename(columns={"source_acc_id" : "acc_id"}, inplace=True)

# Remove "source_char_idd" and "target_char_id"
trade.drop(["source_char_id", "target_char_id"], axis=1, inplace=True)

# Substitute NaNs with median at "item_price"
trade["item_price"].fillna(trade["item_price"].median(), inplace=True)

# Categorize transaction time
bins = [0, 60000, 120000, 180000, 239999]
bin_label = [0, 1, 2, 3]   
trade["time_bin"] = pd.cut(pd.to_numeric(trade["time"].str.replace(":", "")), bins=bins, labels=bin_label)
# Those who play during the time other than evening must be differentiated
trade["time_bin"] = trade["time_bin"].map({0:1, 1:1, 2:1, 3:0}) 
trade.drop("time", axis=1, inplace=True)

# Total price per each trade
trade["total_item_price"] = trade["item_amount"] * trade["item_price"]

# Make two trade DataFrames for each source and target
source_trade = trade.drop("target_acc_id", axis=1)
target_trade = trade.drop("acc_id", axis=1)
target_trade.rename(columns={"target_acc_id" : "acc_id"}, inplace=True)

# Total number of trade occurence per account the whole period
source_trade_count = source_trade["acc_id"].value_counts()
target_trade_count = target_trade["acc_id"].value_counts()

source_trade_count = pd.DataFrame({"acc_id" : source_trade_count.index,
                                   "count" : source_trade_count})    # Make a dataframe to merge based on "acc_id"
target_trade_count = pd.DataFrame({"acc_id" : target_trade_count.index,
                                   "count" : target_trade_count})

trade_count = pd.merge(source_trade_count, target_trade_count, on = "acc_id")
trade_count["count"] = trade_count["count_x"] + trade_count["count_y"]
trade_count.drop(["count_x", "count_y"], axis=1, inplace=True)

# Remove columns that do not seem necessary
trade.drop(["server", "target_acc_id", "item_type", "item_amount", "item_price"], axis=1, inplace=True)

trade = pd.concat(
    [pd.pivot_table(data=trade, index=["acc_id", "day"], values=["time_bin", "total_item_price"], aggfunc=sum), # sum all the prices
    pd.pivot_table(data=trade, index=["acc_id", "day"], values=["type"])], # mean for trade type
    axis=1)

## Pledge

In [9]:
# The number of members in each pledge
pledge_num_people = pledge["pledge_id"].value_counts()

# Remove "char_id", "server", "pledge_id" (doesn't seem to matter)
pledge.drop(["char_id", "server", "pledge_id"], axis=1, inplace=True)

# Sum all the values according to days per account
pledge = pd.pivot_table(data=pledge, index=["acc_id", "day"], aggfunc=sum)

# Change name of the columns which are same with the ones in combat file
rename_dict = {"etc_cnt" : "p_etc_cnt", "random_attacker_cnt" : "p_random_attacker_cnt",
              'same_pledge_cnt' : 'p_same_pledge_cnt', "temp_cnt" : "p_temp_cnt", 
               "random_defender_cnt" : "p_random_defender_cnt"}
pledge.rename(columns=rename_dict, inplace=True)

## Activity

In [10]:
# Remove "char_id"
activity.drop("char_id", axis=1, inplace=True)

# Total play time per account the whole period
total_play = activity.groupby("acc_id")["playtime"].sum()
total_play = pd.DataFrame({"total_play_time" : total_play})  # in case of merging

# activity["cum_play_time"] = activity.groupby("acc_id")["playtime"].cumsum()

# Sum all the values per day for each account
activity = pd.concat([pd.pivot_table(data=activity.drop("server", axis=1), index=["acc_id", "day"], aggfunc=sum),
                     pd.pivot_table(data=activity, index=["acc_id", "day"], values=["server"])],
                    axis=1)

# Total exp
activity["total_exp"] = activity["solo_exp"] + activity["party_exp"] + activity["quest_exp"]

# How long do users spend time fishing?
activity["fishing_prop"] = activity["fishing"] / activity["playtime"]

In [11]:
activity.columns

Index(['boss_monster', 'death', 'enchant_count', 'exp_recovery', 'fishing',
       'game_money_change', 'npc_kill', 'party_exp', 'playtime',
       'private_shop', 'quest_exp', 'revive', 'solo_exp', 'server',
       'total_exp', 'fishing_prop'],
      dtype='object')

## Combat

In [11]:
# Remove "char_id", "class", "server"
combat.drop(["char_id", "class", "server"], axis=1, inplace=True)

# Max level? or Mean level?
max_level = combat.groupby("acc_id")["level"].max()
mean_level = combat.groupby("acc_id")["level"].mean()
combat.drop("level", axis=1, inplace=True)

# Sum all the values per day for each account
combat = pd.pivot_table(data=combat, index=["acc_id", "day"], aggfunc=sum)

## Payment

In [12]:
# total_payment = payment.groupby("acc_id")["amount_spent"].sum()
# total_payment.head()

In [13]:
train_label[train_label["acc_id"] == 8]

###### Why are they different????? ####

      acc_id  survival_time  amount_spent  total_spent
5494       8             64       0.02031     1.299843

In [14]:
# Check the results
display(combat.tail())
display(payment.head())
display(pledge.head())
display(trade.head())
display(activity.head())

             etc_cnt  num_opponent  pledge_cnt  random_attacker_cnt  \
acc_id day
130473 24   0.000000      0.000000    0.000000                  0.0
       25   0.000000      1.079416    1.026948                  0.0
       26   0.225223      5.985854    7.317004                  0.0
       27   0.000000      0.000000    0.000000                  0.0
       28   0.000000      0.000000    0.000000                  0.0

            random_defender_cnt  same_pledge_cnt  temp_cnt
acc_id day
130473 24                   0.0              0.0  0.000000
       25                   0.0              0.0  0.479728
       26                   0.0              0.0  0.000000
       27                   0.0              0.0  0.000000
       28                   0.0              0.0  0.000000

   day  acc_id  amount_spent
0   18   27835      0.826123
1   23   27835      0.011735
2   27   27835      0.035204
3   17   12351      0.528062
4   11  125437      0.633674

            combat_char_cnt  combat_play_time  p_etc_cnt  \
acc_id day
5      9           0.252625          0.399849   0.120331
       14          0.180447          0.441895   0.219426
       20          0.108268          0.593982   0.056626
       22          0.252625          0.610198   0.092017
       23          0.036089          0.339385   0.000000

            non_combat_play_time  play_char_cnt  pledge_combat_cnt  \
acc_id day
5      9                0.000000       0.649608                0.0
       14               0.000000       0.396983                0.0
       20               0.000000       0.505250                0.0
       22               0.000695       0.721786                0.0
       23               0.001274       0.541340                0.0

            p_random_attacker_cnt  p_random_defender_cnt  p_same_pledge_cnt  \
acc_id day
5      9                 0.000000               0.143063                0.0
       14                0.000000               0.000000                0.0
       20                0.000000               0.071531                0.0
       22                0.548695               0.357657                0.0
       23                0.710075               0.000000                0.0

            p_temp_cnt
acc_id day
5      9      0.692181
       14     0.197766
       20     0.296649
       22     0.098883
       23     0.000000

            time_bin  total_item_price  type
acc_id day
2      1         3.0      1.867780e-06   0.0
       2         1.0      6.393257e-03   1.0
       3         1.0      1.249094e-06   0.0
       5         0.0      1.998430e-09   0.0
       12        0.0      5.005340e-09   0.0

            boss_monster  death  enchant_count  exp_recovery  fishing  \
acc_id day
2      1               0    0.0            0.0           0.0      0.0
       2               0    0.0            0.0           0.0      0.0
       3               0    0.0            0.0           0.0      0.0
       4               0    0.0            0.0           0.0      0.0
       5               0    0.0            0.0           0.0      0.0

            game_money_change  npc_kill  party_exp  playtime  private_shop  \
acc_id day
2      1             1.022652       0.0        0.0  2.737490      2.493091
       2            -1.042002       0.0        0.0  3.405864      3.188761
       3             0.450366       0.0        0.0  3.412974      3.223522
       4            -0.007215       0.0        0.0  3.412974      3.171419
       5             0.015365       0.0        0.0  3.412974      3.175172

            quest_exp  revive  solo_exp  server  total_exp  fishing_prop
acc_id day
2      1          0.0     0.0       0.0    20.0        0.0           0.0
       2          0.0     0.0       0.0    20.0        0.0           0.0
       3          0.0     0.0       0.0    20.0        0.0           0.0
       4          0.0     0.0       0.0    20.0        0.0           0.0
       5          0.0     0.0       0.0    20.0        0.0           0.0

In [15]:
# Squeeze the whole dataframes into one
df = combat.join(pledge).join(trade).join(activity)

In [16]:
df.isnull().sum()

etc_cnt                       0
num_opponent                  0
pledge_cnt                    0
random_attacker_cnt           0
random_defender_cnt           0
same_pledge_cnt               0
temp_cnt                      0
combat_char_cnt          196818
combat_play_time         196818
p_etc_cnt                196818
non_combat_play_time     196818
play_char_cnt            196818
pledge_combat_cnt        196818
p_random_attacker_cnt    196818
p_random_defender_cnt    196818
p_same_pledge_cnt        196818
p_temp_cnt               196818
time_bin                 725934
total_item_price         725934
type                     725934
boss_monster                  0
death                         0
enchant_count                 0
exp_recovery                  0
fishing                       0
game_money_change             0
npc_kill                      0
party_exp                     0
playtime                      0
private_shop                  0
quest_exp                     0
revive                        0
solo_exp                      0
server                        0
total_exp                     0
fishing_prop                  0
dtype: int64

In [19]:
df[100:200]

             etc_cnt  num_opponent  pledge_cnt  random_attacker_cnt  \
acc_id day
20     7    0.000000      0.098129    0.256737                  0.0
       8    0.000000      0.000000    0.000000                  0.0
       9    6.193634      2.453219    0.128368                  0.0
       10   0.112612      0.098129    0.000000                  0.0
       11   0.000000      0.000000    0.000000                  0.0
       12   0.000000      0.098129    0.128368                  0.0
       13   3.941403      2.649476    0.513474                  0.0
       14   0.000000      0.000000    0.000000                  0.0
       15   0.000000      0.000000    0.000000                  0.0
       16   1.013504      0.981288    0.064184                  0.0
       17   0.000000      0.000000    0.000000                  0.0
       18   0.000000      0.000000    0.000000                  0.0
       20   0.000000      0.000000    0.000000                  0.0
       21   0.900892      0.785030    0.000000                  0.0
       22   0.225223      0.294386    0.064184                  0.0
       23   0.000000      0.000000    0.000000                  0.0
       24   0.000000      0.000000    0.000000                  0.0
       25   0.000000      0.000000    0.000000                  0.0
       26   0.000000      0.000000    0.000000                  0.0
       27   3.828792      2.256961    0.128368                  0.0
       28   0.112612      0.294386    0.000000                  0.0
21     2    0.000000      0.098129    0.000000                  0.0
       3    0.000000      0.098129    0.000000                  0.0
       4    0.112612      0.392515    0.000000                  0.0
       5    0.000000      0.000000    0.000000                  0.0
       6    0.000000      0.000000    0.000000                  0.0
       7    0.112612      0.098129    0.000000                  0.0
       8    0.000000      0.000000    0.000000                  0.0
       9    0.000000      0.000000    0.000000                  0.0
       10   0.000000      0.000000    0.000000                  0.0
       11   0.000000      0.000000    0.000000                  0.0
       12   0.000000      0.000000    0.000000                  0.0
       13   0.000000      0.000000    0.000000                  0.0
       14   0.000000      0.000000    0.000000                  0.0
       15   0.000000      0.000000    0.000000                  0.0
       16   0.000000      0.000000    0.000000                  0.0
       17   0.000000      0.000000    0.000000                  0.0
       18   0.000000      0.000000    0.000000                  0.0
       19   0.000000      0.000000    0.000000                  0.0
       20   0.000000      0.000000    0.000000                  0.0
       21   0.000000      0.098129    0.000000                  0.0
       22   0.000000      0.000000    0.000000                  0.0
       23   0.000000      0.000000    0.000000                  0.0
       24   0.000000      0.000000    0.000000                  0.0
       25   0.000000      0.000000    0.000000                  0.0
       26   0.000000      0.000000    0.000000                  0.0
       28   0.000000      0.000000    0.000000                  0.0
31     1    0.112612      0.098129    0.000000                  0.0
       2    0.000000      0.000000    0.000000                  0.0
       3    0.000000      0.098129    0.000000                  0.0
       4    0.225223      0.196258    0.000000                  0.0
       5    0.788281      0.588773    0.000000                  0.0
       6    0.900892      0.392515    0.000000                  0.0
       7    1.238727      0.981288    0.000000                  0.0
       8    0.900892      0.686901    0.000000                  0.0
       9    1.801784      1.079416    0.000000                  0.0
       10   1.013504      0.490644    0.000000                  0.0
       11   0.450446      0.686901    0.000000                  0.0
       12   1.013504      0.588773    0.000000                  0.0
       13   1.126115      0.981288    0.000000                  0.0
       14   0.563058      0.490644    0.000000                  0.0
       15   0.563058      0.490644    0.000000                  0.0
       16   0.450446      0.392515    0.000000                  0.0
       17   0.112612      0.392515    0.000000                  0.0
       18   0.788281      0.392515    0.000000                  0.0
       19   0.675669      0.588773    0.000000                  0.0
       20   0.112612      0.196258    0.000000                  0.0
       21   0.450446      0.294386    0.000000                  0.0
       22   0.788281      0.490644    0.000000                  0.0
       23   0.225223      0.294386    0.000000                  0.0
       24   0.112612      0.098129    0.000000                  0.0
       25   0.112612      0.098129    0.000000                  0.0
       26   0.788281      0.588773    0.000000                  0.0
       27   0.000000      0.098129    0.000000                  0.0
       28   0.000000      0.392515    0.000000                  0.0
38     1    0.000000      0.098129    0.000000                  0.0
       2    0.112612      0.098129    0.000000                  0.0
       3    0.000000      0.098129    0.000000                  0.0
       4    0.112612      0.098129    0.000000                  0.0
       5    0.000000      0.000000    0.000000                  0.0
       6    0.450446      0.294386    0.000000                  0.0
       7    0.000000      0.000000    0.000000                  0.0
       8    0.000000      0.000000    0.000000                  0.0
       9    0.337835      0.392515    0.000000                  0.0
       10   0.225223      0.294386    0.000000                  0.0
       11   0.225223      0.294386    0.000000                  0.0
       12   0.112612      0.098129    0.000000                  0.0
       13   0.000000      0.196258    0.000000                  0.0
       14   0.000000      0.000000    0.000000                  0.0
       15   0.000000      0.000000    0.000000                  0.0
       16   0.112612      0.196258    0.000000                  0.0
       18   0.000000      0.000000    0.000000                  0.0
       19   0.000000      0.000000    0.000000                  0.0
       20   0.112612      0.098129    0.000000                  0.0
       21   0.000000      0.294386    0.000000                  0.0
       22   0.112612      0.392515    0.000000                  0.0
       23   0.000000      0.000000    0.000000                  0.0
       24   0.225223      0.294386    0.000000                  0.0
       25   0.112612      0.098129    0.000000                  0.0
       26   0.000000      0.000000    0.000000                  0.0

            random_defender_cnt  same_pledge_cnt  temp_cnt  combat_char_cnt  \
acc_id day
20     7               0.000000              0.0  0.000000         0.938322
       8               0.000000              0.0  0.000000         1.154858
       9               0.000000              0.0  0.000000         0.830054
       10              0.000000              0.0  0.000000         0.974412
       11              0.000000              0.0  0.000000         0.974412
       12              0.000000              0.0  0.000000         0.938322
       13              0.000000              0.0  0.000000         0.721786
       14              0.000000              0.0  0.000000         0.974412
       15              0.000000              0.0  0.000000         0.938322
       16              0.000000              0.0  0.000000         1.227037
       17              0.000000              0.0  0.000000         1.479662
       18              0.000000              0.0  0.000000         1.190948
       20              0.000000              0.0  0.000000         0.830054
       21              0.000000              0.0  0.000000         0.649608
       22              0.000000              0.0  0.000000         1.515751
       23              0.000000              0.0  0.000000         1.118769
       24              0.000000              0.0  0.000000         1.010501
       25              0.000000              0.0  0.000000         0.793965
       26              0.000000              0.0  0.000000         0.144357
       27              0.000000              0.0  0.000000         1.479662
       28              1.183064              0.0  0.479728         1.840555
21     2               0.000000              0.0  0.479728         0.036089
       3               0.000000              0.0  0.479728         0.036089
       4               0.000000              0.0  1.439183         0.036089
       5               0.000000              0.0  0.000000         0.000000
       6               0.000000              0.0  0.000000         0.000000
       7               0.000000              0.0  0.000000         0.036089
       8               0.000000              0.0  0.000000         0.000000
       9               0.000000              0.0  0.000000         0.000000
       10              0.000000              0.0  0.000000         0.000000
       11              0.000000              0.0  0.000000         0.036089
       12              0.000000              0.0  0.000000         0.000000
       13              0.000000              0.0  0.000000         0.000000
       14              0.000000              0.0  0.000000         0.000000
       15              0.000000              0.0  0.000000         0.000000
       16              0.000000              0.0  0.000000         0.000000
       17              0.000000              0.0  0.000000         0.036089
       18              0.000000              0.0  0.000000         0.000000
       19              0.000000              0.0  0.000000         0.000000
       20              0.000000              0.0  0.000000         0.036089
       21              0.000000              0.0  0.479728         0.072179
       22              0.000000              0.0  0.000000         0.000000
       23              0.000000              0.0  0.000000         0.000000
       24              0.000000              0.0  0.000000         0.000000
       25              0.000000              0.0  0.000000         0.000000
       26              0.000000              0.0  0.000000         0.036089
       28              0.000000              0.0  0.000000         0.000000
31     1               0.000000              0.0  0.000000         0.288715
       2               0.000000              0.0  0.000000         0.324804
       3               0.000000              0.0  0.479728         0.324804
       4               0.000000              0.0  0.000000         0.324804
       5               0.000000              0.0  0.000000         0.360893
       6               1.183064              0.0  0.000000         0.252625
       7               0.000000              0.0  0.000000         0.324804
       8               0.000000              0.0  0.000000         0.360893
       9               1.183064              0.0  0.000000         0.396983
       10              0.000000              0.0  0.000000         0.396983
       11              4.732258              0.0  0.000000         0.324804
       12              1.183064              0.0  0.000000         0.433072
       13              1.183064              0.0  0.000000         0.396983
       14              0.000000              0.0  0.000000         0.396983
       15              0.000000              0.0  0.000000         0.396983
       16              1.183064              0.0  0.000000         0.396983
       17              2.366129              0.0  0.479728         0.433072
       18              0.000000              0.0  0.479728         0.360893
       19              0.000000              0.0  0.000000         0.396983
       20              0.000000              0.0  0.959456         0.288715
       21              0.000000              0.0  0.479728         0.324804
       22              1.183064              0.0  0.000000         0.216536
       23              2.366129              0.0  0.479728         0.216536
       24              0.000000              0.0  0.000000         0.216536
       25              0.000000              0.0  0.000000         0.180447
       26              1.183064              0.0  0.000000         0.252625
       27              0.000000              0.0  0.479728         0.216536
       28              0.000000              0.0  2.398639         0.216536
38     1               0.000000              0.0  0.959456              NaN
       2               0.000000              0.0  0.000000              NaN
       3               1.183064              0.0  0.000000              NaN
       4               0.000000              0.0  0.000000              NaN
       5               0.000000              0.0  0.000000              NaN
       6               0.000000              0.0  0.000000              NaN
       7               0.000000              0.0  0.000000              NaN
       8               0.000000              0.0  0.000000              NaN
       9               0.000000              0.0  0.479728              NaN
       10              1.183064              0.0  0.000000              NaN
       11              0.000000              0.0  0.479728              NaN
       12              0.000000              0.0  0.000000              NaN
       13              0.000000              0.0  1.439183              NaN
       14              0.000000              0.0  0.000000              NaN
       15              0.000000              0.0  0.000000              NaN
       16              0.000000              0.0  0.479728              NaN
       18              0.000000              0.0  0.000000              NaN
       19              0.000000              0.0  0.000000              NaN
       20              0.000000              0.0  0.000000              NaN
       21              0.000000              0.0  1.439183         0.396983
       22              0.000000              0.0  1.918911         0.541340
       23              0.000000              0.0  0.000000         0.396983
       24              0.000000              0.0  0.479728         0.324804
       25              0.000000              0.0  0.000000         0.541340
       26              0.000000              0.0  0.000000         0.360893

            combat_play_time  p_etc_cnt  non_combat_play_time  play_char_cnt  \
acc_id day
20     7            2.940139   6.632335              0.000000       1.948823
       8            2.282219   1.762488              0.000000       1.804466
       9            2.655311   1.231618              0.000000       1.840555
       10           2.763844   1.649236              0.000000       1.840555
       11           2.784926   1.543062              0.000000       1.948823
       12           2.791760   1.677549              0.000000       1.876645
       13           2.622646   2.102245              0.000000       1.984913
       14           2.515271   2.286280              0.000000       2.057091
       15           1.830710   1.033427              0.000000       1.804466
       16           2.422606   1.543062              0.000000       2.309716
       17           2.743806   1.479357              0.000000       2.634520
       18           2.768014   1.727097              0.000000       2.165359
       20           2.659596   1.005114              0.000000       1.840555
       21           2.295540   1.571375              0.000000       1.696198
       22           2.744153   1.528905              0.000000       2.454074
       23           1.944919   0.615809              0.000000       2.201448
       24           2.356698   1.790801              0.000000       2.093181
       25           2.232643   1.245775              0.000000       2.093181
       26           0.679581   0.070783              0.000000       0.685697
       27           4.162041   3.730246              0.000000       2.923235
       28           4.328027   2.689741              0.000000       3.284128
21     2            0.067414   0.000000              0.000000       0.036089
       3            0.019112   0.000000              0.000000       0.036089
       4            0.083283   0.007078              0.000000       0.072179
       5            0.000000   0.000000              0.013321       0.036089
       6            0.000000   0.000000              0.065908       0.036089
       7            0.058379   0.007078              0.000000       0.036089
       8            0.000000   0.000000              0.048186       0.036089
       9            0.000000   0.000000              0.054209       0.036089
       10           0.000000   0.000000              0.061159       0.072179
       11           0.037182   0.007078              0.000000       0.072179
       12           0.000000   0.000000              0.102742       0.108268
       13           0.000000   0.000000              0.048302       0.072179
       14           0.000000   0.000000              0.093476       0.108268
       15           0.000000   0.000000              0.021660       0.072179
       16           0.000000   0.000000              0.050155       0.072179
       17           0.061622   0.000000              0.000000       0.072179
       18           0.000000   0.000000              0.055715       0.072179
       19           0.000000   0.000000              0.090696       0.072179
       20           0.041815   0.000000              0.000000       0.072179
       21           0.045753   0.000000              0.000000       0.072179
       22           0.000000   0.000000              0.046680       0.072179
       23           0.000000   0.000000              0.003012       0.036089
       24           0.000000   0.000000              0.022240       0.072179
       25           0.000000   0.000000              0.036023       0.072179
       26           0.087337   0.014157              0.000000       0.072179
       28           0.000000   0.000000              0.061622       0.072179
31     1            0.872903   0.134487              0.000000       0.433072
       2            1.333331   0.191113              0.000000       0.505250
       3            1.569858   0.290209              0.000000       0.469161
       4            1.592677   0.481322              0.000000       0.433072
       5            1.688932   0.453009              0.000000       0.433072
       6            1.741056   0.184035              0.000000       0.505250
       7            1.731327   0.537948              0.000000       0.433072
       8            1.212751   0.233583              0.000000       0.396983
       9            1.658469   1.663392              0.000000       0.505250
       10           1.787273   1.500592              0.000000       0.469161
       11           1.706307   1.543062              0.000000       0.433072
       12           1.743952   1.925288              0.000000       0.505250
       13           1.725072   1.267009              0.000000       0.433072
       14           1.854223   0.920174              0.000000       0.469161
       15           1.419857   0.495479              0.000000       0.469161
       16           1.626268   1.111288              0.000000       0.469161
       17           1.893953   1.203305              0.000000       0.469161
       18           1.837080   0.799844              0.000000       0.469161
       19           1.695303   0.764453              0.000000       0.433072
       20           1.712678   0.410539              0.000000       0.469161
       21           1.665650   0.332678              0.000000       0.433072
       22           0.950394   0.431774              0.000000       0.324804

In [14]:
combat.columns

Index(['etc_cnt', 'num_opponent', 'pledge_cnt', 'random_attacker_cnt',
       'random_defender_cnt', 'same_pledge_cnt', 'temp_cnt'],
      dtype='object')

In [ ]:
#       
#   :        ?
#     ?     ?
#   :       
#    ?
#      ?